bus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="lat" type="xs:decimal"/>
  <xs:element name="lon" type="xs:decimal"/>
  <xs:element type="xs:string" name="name"/>

  <xs:element name="station">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" />
        <xs:element ref="lat" />
        <xs:element ref="lon" />
      </xs:sequence>
      <xs:attribute type="xs:short" name="id"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="route">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="station" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="id" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="system">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="stations">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="station" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="routes">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="route" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
